<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diary</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
    	.plus{
    		color:black;
    		font-size: 40px;
    		padding-top: 20px;
    		padding-right: 20px;
    		padding-bottom: 15px;
    	}
    </style>
  </head>
  <body>
  	<#include "/include/menu.html"/>
  	<div class="container">
  		<div class="row text-right">
  			<a href="/diary/add">
  				<span class="glyphicon glyphicon-plus-sign plus"></span>
  			</a>
  		</div>
  		<#if !diaryList?hasContent>
		<div class="row">
			<h4 class="text-center">첫 번째 일기를 작성해 보세요</h4>
		</div>
  		</#if>
  		<#list diaryList as diary>
		<div class="row">
			<div class="col-sm-8 <#if diary_index%2==1>col-sm-offset-4 text-right</#if>">
				<div class="well">
					<h4>${diary.title?default('제목없음')}</h4>
					<h5>Post by <b>${diary.users_id}</b>,
						<span class="glyphicon glyphicon-time"></span>
						${diary.regdate?substring(0,19)}
					</h5>
					<h5>
						<#list diary.tags as tag>
						<span class="label label-${tag.color}">${tag.name}</span>
						</#list>
					</h5>
					<br />
					<p>${diary.content}</p>			
				</div>
			</div>	
		</div>
  		</#list>
  	</div> 
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>